@import "../graph-layout";

.misc-container {
  height: 69vh;
  width: 80%;
  transition: opacity 1.5s ease-out;

  #misc-title {
    @extend %title;
  }

  .misc-block {
    @extend %block;
  }

  .graph-bar1 {
    @include bar(35%, -10em, 0.5s);
  }
  .graph-bar2 {
    @include bar(30%, -10em, 0.8s);
  }
  .graph-bar3 {
    @include bar(15%, -12em, 1s);
  }
  .graph-bar4 {
    @include bar(20%, -10em, 1.2s);
  }

  .slide-in {
    transform: translateX(0);
  }

  #good-bye {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Josefin Sans", sans-serif;
  }
}
