%link-layout {
  position: relative;
  align-self: center;
  height: 5em;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

%hover-effect {
  .project-title {
    transform: scaleY(25);
  }
  .project-block {
    grid-column: 1/5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    img {
      height: 20em;
      width: 20em;
      position: absolute;
      top: -10em;
      left: 35%;
    }
    h4 {
      margin: 1em;
    }
  }
  h3 {
    opacity: 0;
  }
}

%project-name {
  margin: 0;
  position: absolute;
  top: -0.3em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  background: white;
  transition: opacity;
}

%project-small {
  grid-column: 1/5;
  height: 0.3em;
  width: 100%;
  background: black;
  transition: transform 0.5s ease-in-out;
}
