@import "../reuseable";
@import "./project-layout";

#projects-container {
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
  background: white;

  h1 {
    margin: 0.5em;
    grid-area: 1/1/2/4;
    font-size: 3em;
    font-family: "Righteous", cursive;
    place-self: center end;
  }

  .project-title {
    @extend %title-content;
  }

  #project-link1 {
    height: 15em;
    grid-area: 2/2/3/4;
    position: relative;
    &:after {
      @extend %extention;
      height: 0;
      width: 100%;
    }
    &:hover:after {
      background: #5c801b;
      height: 100%;
    }

    .project-block {
      @extend %block-dimensions;
      background: url(../../assets/food-truck.png) top;
    }
  }
  #project-link2 {
    height: 15em;
    grid-area: 3/2/4/4;
    position: relative;
    &:after {
      @extend %extention;
      height: 100%;
      width: 0;
    }
    &:hover:after {
      background: #1b8072;
      width: 100%;
    }

    .project-block {
      @extend %block-dimensions;
      background: url(../../assets/ugyde.png) no-repeat center;
    }
  }
  #project-link3 {
    grid-area: 2/4/3/6;
    position: relative;
    &:after {
      @extend %extention;
      height: 100%;
      width: 0;
    }

    &:hover:after {
      background: #3f1b80;
      width: 100%;
    }
    .project-block {
      @extend %block-dimensions;
      background: url(../../assets/xylephone.png);
    }
  }
  #project-link4 {
    grid-area: 3/4/4/6;
    position: relative;
    &:after {
      @extend %extention;
      height: 0;
      width: 100%;
    }
    &:hover:after {
      background: #801b29;
      height: 100%;
    }

    .project-block {
      @extend %block-dimensions;
      background: url(../../assets/film.png) no-repeat left;
    }
  }

  #works {
    grid-area: 1/6/2/7;
    place-self: start end;
    position: sticky;
    top: 20px;

    h3 {
      @extend %component-title;
      color: #a80016;
    }
  }
}
