#projects-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);

  h1 {
    grid-area: 1/1/2/5;
    font-family: "Montserrat", sans-serif;
    place-self: center end;
  }

  %border-round {
    height: 10em;
    width: 10em;
    border-radius: 50%;
  }

  #project-block1 {
    @extend %border-round;
    grid-area: 2/2/3/3;
    background: url(../../assets/food-truck.png) top;
  }
  #project-block2 {
    @extend %border-round;
    grid-area: 2/3/3/4;
    background: url(../../assets/u-gyde.png);
  }
  #project-block3 {
    @extend %border-round;
    grid-area: 2/4/3/5;
    background: url(../../assets/xylephone.png);
  }
  #project-block4 {
    @extend %border-round;
    grid-area: 2/5/3/6;
    background: url(../../assets/film.png);
  }

  #works {
    grid-area: 1/6/2/7;
    place-self: start end;

    h3 {
      margin: 0;
      margin-top: 0.5em;
      color: #a80016;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      font-family: "Monda", sans-serif;
      writing-mode: vertical-rl;
    }
  }
}
