@import "../reuseable";
@import "./project-layout";

#projects-container {
  height: 150vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  background: white;

  h1 {
    margin: 0.5em;
    grid-area: 1/1/2/5;
    font-size: 3em;
    font-family: "Righteous", cursive;
    place-self: center start;
  }

  .project-block {
    display: none;
  }

  .project-title {
    @extend %project-small;
  }

  #project-link1 {
    @extend %link-layout;
    grid-area: 2/1/3/7;
    &:hover {
      @extend %hover-effect;
    }
    h3 {
      @extend %project-name;
      left: 15%;
      color: #3f1b80;
    }
  }

  #project-link2 {
    @extend %link-layout;
    grid-area: 3/1/4/7;
    &:hover {
      @extend %hover-effect;
    }
    h3 {
      @extend %project-name;
      left: 25%;
      color: #1b8072;
    }
  }

  #project-link3 {
    @extend %link-layout;
    grid-area: 4/1/5/7;
    &:hover {
      @extend %hover-effect;
    }
    h3 {
      @extend %project-name;
      left: 15%;
      color: #5c801b;
    }
  }

  #project-link4 {
    @extend %link-layout;
    grid-area: 5/1/6/7;
    &:hover {
      @extend %hover-effect;
    }
    h3 {
      @extend %project-name;
      left: 25%;
      color: #801b29;
    }
  }

  #works {
    grid-area: 1/6/2/7;
    place-self: start end;
    position: sticky;
    top: 20px;
    h3 {
      @extend %component-title;
      color: #a80016;
      background: white;
    }
  }
}
