{
    "plugins": ["prettier", "cypress", "react"],
    "env": {
      "node": true,
      "cypress/globals": true
    },
    "parser": "babel-eslint",
    "rules": {
      "prettier/prettier": "error"
    },
    "extends": [
      "plugin:cypress/recommended",
      "eslint:recommended",
      "plugin:react/recommended"
    ]
}