.landing-page {
  background-color: #000000;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;

  #top-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: repeat(3, 1fr);
    background: white;
    clip-path: polygon(0 0, 0% 100%, 100% 0);

    img {
      margin: 0;
      width: 10em;
      grid-area: 1/1/2/2;
    }

    h2 {
      margin: 0;
      margin-left: 5%;
      grid-area: 2/1/2/4;
      place-self: center;
      font-size: 4em;
      font-family: "Dancing Script", cursive;
      place-self: start start;
    }

    #black {
      grid-area: 1/2/4/5;
      place-self: center stretch;
    }
  }

  #bottom-layer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: repeat(3, 1fr);

    #intro {
      grid-area: 3/4/4/6;
      place-self: center start;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-size: 2em;
      font-family: "Dancing Script", cursive;
    }

    #white {
      grid-area: 1/2/4/5;
      place-self: center stretch;
    }
  }
}
