@import "./graph-layout";

.design-container {
  @extend %layout;
  transition: opacity 1.5s ease-out;

  .design-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Josefin Sans", sans-serif;
  }

  .graph-bar1 {
    @extend %graph-bar;
    width: 25%;
    transform: translateX(-10em);
    transition: transform 1.5s ease-out 0.5s;
  }
  .graph-bar2 {
    @extend %graph-bar;
    width: 25%;
  }
  .graph-bar3 {
    @extend %graph-bar;
    width: 45%;
  }
  .graph-bar4 {
    @extend %graph-bar;
    width: 10%;
  }

  .slide-in {
    transform: translateX(0);
  }
}
.visible {
  opacity: 100%;
}

.transparent {
  opacity: 0;
}
