@import "./graph-layout";

.design-container {
  @extend %layout;
  transition: opacity 1.5s ease-out;

  #design-title {
    @extend %title;
  }

  .design-block {
    @extend %block;
  }

  .graph-bar1 {
    @extend %graph-bar;
    width: 25%;
    transform: translateX(-10em);
    transition: transform 1s ease-out 0.5s;
  }
  .graph-bar2 {
    @extend %graph-bar;
    width: 25%;
    transform: translateX(-10em);
    transition: transform 1s ease-out 0.8s;
  }
  .graph-bar3 {
    @extend %graph-bar;
    width: 45%;
    transform: translateX(-12em);
    transition: transform 1s ease-out 1s;
  }
  .graph-bar4 {
    @extend %graph-bar;
    width: 10%;
    transform: translateX(-10em);
    transition: transform 1s ease-out 1.2s;
  }

  .slide-in {
    transform: translateX(0);
  }
}
