.App-container {
  position: absolute;
  overflow: hidden;
  height: 425vh;
  display: flex;
  flex-direction: column;
}

.App-footer {
  background-color: #000000;
  height: 25vh;
  display: flex;
}
