.App {
  text-align: center;
  height: 400vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: white;
  margin: 0;
}

.App-footer {
  background-color: #282c34;
  display: flex;
}

#image1, #image2, #image3 {
  background: url('../../assets/fractal.svg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
