.App {
  text-align: center;
  height: 400vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: white;
  margin: 0;
  z-index: 1;
}

.App-footer {
  background-color: #282c34;
  display: flex;
}

#image1, #image2, #image3 {
  background: url('../../assets/fractal.svg') no-repeat center center;
  background-size: 1000px 1000px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  display: flex;
  z-index: -1;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {

  100% {
    background-position: 0px -100px;
  }
}
