@import "../reuseable";

#skills-container {
  height: 200vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  h1 {
    z-index: 1;
    grid-area: 1/1/2/4;
    border-radius: 5px;
    font-family: "Righteous", cursive;
    font-size: 2.5em;
    place-self: start center;
    background: #ff365170;
  }

  #skills-img {
    z-index: 1;
    background: #ff3651;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    grid-area: 1/1/4/5;
    img {
      width: 100%;
    }
  }

  #skills-summary {
    grid-area: 1/5/7/7;
    background: white;
  }

  #skills {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-area: 1/6/3/7;
    place-self: start end;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      font-family: "Monda", sans-serif;
      writing-mode: vertical-rl;
      color: black;
    }

    #arrow-container {
      @extend %arrow-container;
      margin-top: 1.5em;

      #arrow-tail {
        @extend %arrow-tail;
        border-right: 1px solid black;
      }

      #arrow-up {
        @extend %arrow-head;
        top: 0;
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }
}
