@import "../reuseable";

#skills-container {
  @include layout(200vh, repeat(6, 1fr), repeat(6, 1fr));

  h1 {
    z-index: 2;
    grid-area: 1/1/2/7;
    border-radius: 5px;
    font-family: "Righteous", cursive;
    @include responsive-font(4vw, 30px, 45px);
    place-self: start center;
    background: #ff365170;

    @include tablet {
      grid-area: 1/1/2/4;
    }
    @include desktop {
      grid-area: 1/1/2/4;
    }
  }

  #skills-img {
    grid-area: 1/1/7/7;
    width: 100%;
    background: $pink;
    img {
      width: 100%;
    }

    @include tablet {
      z-index: 1;
      @include sticky(0);
      grid-area: 1/1/4/5;
    }
    @include desktop {
      z-index: 1;
      @include sticky(0);
      grid-area: 1/1/4/5;
    }
  }

  #skills-summary {
    grid-area: 2/1/7/7;

    @include tablet {
      grid-area: 1/5/7/7;
    }
    @include desktop {
      grid-area: 1/5/7/7;
    }
  }

  #skills {
    @include sticky(10px);
    grid-area: 1/6/3/7;
    place-self: start end;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      @extend %component-title;
      color: black;
    }

    #arrow-container {
      @extend %arrow-container;
      margin-top: 1.5em;

      #arrow-tail {
        @extend %arrow-tail;
        border-right: 1px solid black;
      }

      #arrow-up {
        @extend %arrow-head;
        top: 0;
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }
}
