#skills-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #ff3651;
  border-bottom: 2px solid #eb466d;

  img {
    height: 100vh;
    grid-area: 1/1/4/5;
  }

  h1 {
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    grid-area: 1/1/2/4;
    place-self: start center;
    background: #ff365170;
  }

  %icon-layout {
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
  }

  %icons {
    margin: 0.5em;
    border-radius: 5%;
    font-family: "Montserrat", sans-serif;
    h2 {
      background: #ff365170;
      border-radius: 5px;
    }
    div {
      font-size: 2em;
      display: flex;
      justify-content: space-evenly;
    }
    svg {
      background: #ff365170;
      border: 0.2em solid #ff365170;
      border-radius: 10px;
    }
  }

  #skills-front {
    @extend %icons;
    grid-area: 1/5/2/6;
  }

  #skills-back {
    @extend %icons;
    grid-area: 2/5/3/6;
    span {
      background: #ff365170;
      border: 0.2em solid #ff365170;
      border-radius: 10px;
    }
  }

  #skills-mid {
    @extend %icons;
    grid-area: 3/5/4/6;
  }

  #skills {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: 1/6/3/7;
    place-self: start end;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0.5em;
      font-size: 1em;
      letter-spacing: 0.2em;
      font-family: "Monda", sans-serif;
      writing-mode: vertical-rl;
      color: black;
    }

    #arrow-container {
      margin: 0.5em;
      margin-top: 1.5em;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 10px;
      height: 5em;

      #arrow-tail {
        align-self: center;
        width: 1px;
        height: 5em;
        border-right: 1px solid black;
      }

      #arrow-up {
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }
}
