#about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  h2 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  img {
    align-self: center;
    height: 120vh;
  }

  #about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Monda", sans-serif;
  }

  #profile {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 5em;

    h3 {
      margin: 0;
      margin-top: 0.5em;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      font-family: "Monda", sans-serif;
      writing-mode: vertical-rl;
    }
  }
}
