@import "../reuseable";

#about-container {
  @extend %layout;
  background: black;

  #about-block1 {
    margin: 0;
    font-family: "Righteous", cursive;
    font-size: 3.5em;
    color: white;
  }

  #about-block2 {
    margin: 0;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
  }

  .about-info {
    margin-left: 1em;
    grid-area: 1/1/3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1.5s ease-out;

    p {
      margin-top: 0;
      font-family: "Monda", sans-serif;
      font-weight: bold;
    }
  }

  #profile {
    z-index: 2;
    height: 7em;
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    grid-area: 1/6/3/7;
    place-self: start end;

    h3 {
      @extend %component-title;
    }
  }

  .hidden-left {
    transform: translateX(-50em);
  }

  .visible-left {
    transform: translateX(0);
  }
  .hidden-right {
    opacity: 0;
  }

  .visible-right {
    opacity: 100%;
  }

  #white {
    grid-area: 1/1/4/7;
    background: white;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  img {
    grid-area: 1/3/4/7;
    place-self: center end;
    height: 100vh;
    z-index: 1;
    transition: opacity 3s;
  }
}
