// colors

$pink: #ff3651;
$dark-pink: #801b29;
$purple: #3f1b80;
$blue: #1b8072;
$green: #5c801b;

// media-queries

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin responsive-font($responsive, $min, $max: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  font-size: $responsive;
}

// across app variables

@mixin layout($height, $columns, $rows) {
  height: $height;
  width: 100%;
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin sticky($top) {
  position: -webkit-sticky;
  position: sticky;
  top: $top;
}

%component-title {
  margin: 0;
  @include responsive-font(2vw, 16px, 25px);
  letter-spacing: 0.2em;
  font-family: "Monda", sans-serif;
  writing-mode: vertical-rl;
}

%arrow-container {
  margin: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 5em;
}

%arrow-tail {
  align-self: center;
  width: 1px;
  height: 5em;
}

%arrow-head {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
