%layout {
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

%component-title {
  margin: 0;
  margin-top: 1em;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  font-family: "Monda", sans-serif;
  writing-mode: vertical-rl;
}

%arrow-container {
  margin: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 5em;
}

%arrow-tail {
  align-self: center;
  width: 1px;
  height: 5em;
}

%arrow-head {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
